# Placeholder for .gitignore
# Node.js
node_modules/
.next/
npm-debug.log*
yarn-debug.log*

# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# DVC
.dvc/cache

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# VS Code
.vscode/