# FastAPI and Server
fastapi
uvicorn[standard]
python-dotenv
pydantic-settings

# Celery Worker
celery
redis

# ML & Data
# Use the CPU-only torch index URL (can override with local wheel)
torch --index-url https://download.pytorch.org/whl/cpu
transformers
datasets
peft
accelerate
scikit-learn

# MLOps
dvc[gcs]
mlflow

# Data Ingestion
requests
beautifulsoup4
newsapi-python
urllib3
